@import url("./responsive.css");
:root {
  --softBlue: #5368df;
  --softRed: #fa5757;
  --grayishBlue: #9194a1;
  --veryDarkBlue: #252b46;
}
body {
  font-family: 'Rubik', sans-serif;
  color: var(--veryDarkBlue);
  margin: 0;
  text-align: center;
  padding: 0;
  overflow-x: hidden;
}
p {
  color: var(--grayishBlue);
  font-size: 14px;
}
li {
  list-style: none;
}
ul {
  padding: 20px;
}
ul .li-menu {
  border-top: 1px solid var(--grayishBlue);
  padding: 18px;
}
.menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgba(47,53,79,0.9);
  left: 0;
  right: 0;
  height: 100vh;
}
.menu-open {
  user-select: none;
  width: 20px;
  height: 20px;
  display: inline-flex;
  background: url("/src/images/icon-hamburger.svg") no-repeat;
  background-size: contain;
  cursor: pointer;
}
.menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (min-width: 1000px) {
  .menu {
    display: block;
    position: initial;
    height: auto;
    background-color: #fff;
  }
  .menu-open {
    display: none;
  }
  .menu a {
    color: #000;
    font-size: 12px;
  }
  .menu a:hover {
    color: var(--softRed);
  }
  .menu ul {
    display: flex;
    padding: 0;
    align-items: center;
  }
  .menu ul .li-menu {
    border: none;
    padding: 0 20px;
  }
  .menu .div-icon {
    display: none;
  }
  .menu .login-button {
    background-color: var(--softRed);
    padding: 10px 23px;
    color: #fff;
  }
  .menu .login-button:hover {
    border: 2px solid var(--softRed);
    background-color: #fff;
    color: var(--softRed);
  }
}
.logo {
  background: url("/src/images/logo-bookmark.svg") no-repeat;
  width: 200px;
  height: 30px;
}
@media screen and (max-width: 1000px) {
  .menu-checkbox:checked ~ .div-head {
    background-color: rgba(47,53,79,0.9);
  }
  .menu-checkbox:checked ~ .div-head .menu {
    display: block;
  }
  .menu-checkbox:checked ~ .div-head .menu-open {
    background: url("/src/images/icon-close.svg") no-repeat;
  }
  .menu-checkbox:checked ~ .div-head .logo {
    background: url("/src/images/logo-bookmark-white.svg") no-repea t;
  }
}
.div-icon {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  cursor: pointer;
}
.icon-twitter {
  margin-left: 30px;
}
.login-button {
  background-color: transparent;
  font-weight: 800;
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
}
.button-no-util {
  color: #000;
  background-color: #f5f5f5;
  box-shadow: 0 2px 7px var(--grayishBlue);
}
.button-no-util:hover {
  color: #4b4c54;
  background-color: #fff;
  border: 2px solid #4b4c54;
}
.special {
  display: none;
  flex-direction: column;
}
.special img {
  margin-top: 50px auto;
  max-width: 100%;
}
.special .div-img-global {
  margin: 20px 30px;
}
.special .div-information-global {
  margin: auto 30px;
}
@media screen and (min-width: 900px) {
  .special {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    margin: auto;
    text-align: left;
  }
  .special img {
    margin-top: 0;
  }
  .special .div-img-global {
    margin-right: 6em;
  }
  .special .div-information-global {
    margin: 0;
  }
}
.link-feautures {
  padding: 20px;
  border-bottom: 2px solid #e7e8ee;
  position: relative;
}
.link-feautures label:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: 0;
  transform: translateX(50%);
  border-bottom: 5px solid var(--softRed);
  display: none;
}
.link-add {
  border-top: 2px solid #e7e8ee;
}
@media screen and (min-width: 500px) {
  .link {
    text-align: center;
  }
  .link-feautures {
    width: 230px;
    display: block;
    position: relative;
  }
  .link-feautures label:after {
    transform: translateX(0%);
    width: 100%;
  }
  .link-add {
    border-top: none;
  }
  .link-ul-feautures {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
  }
}
input[id= "bookmarking"]:checked ~ .div-bookmarking {
  display: flex;
}
input[id= "bookmarking"]:checked ~ ul [for= "bookmarking"]:after {
  display: block;
}
input[id= "searching"]:checked ~ .div-searching {
  display: flex;
}
input[id= "searching"]:checked ~ ul [for= "searching"]:after {
  display: block;
}
input[id= "sharing"]:checked ~ .div-sharing {
  display: flex;
}
input[id= "sharing"]:checked ~ ul [for= "sharing"]:after {
  display: block;
}
.image-ilustration {
  width: 100%;
  margin-top: 50px;
}
.button-install-navegators {
  width: 85%;
  padding: 10px;
}
.img-navegators {
  width: 70px;
  margin: 13px;
  margin-top: 40px;
}
.img-bg-dots {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .add-section-firefox {
    position: relative;
    top: 40px;
  }
  .add-section-opera {
    position: relative;
    top: 80px;
  }
}
details {
  padding: 13px;
}
summary {
  border-bottom: 2px solid #e7e8ee;
  padding: 0.8em;
  color: #494d5f;
  cursor: pointer;
  user-select: none;
}
summary:focus {
  outline: none;
  color: var(--softRed);
}
summary::-webkit-details-marker {
  color: #6565ed;
  float: right;
}
.div-questions {
  text-align: left;
  margin: auto 20px;
}
@media screen and (min-width: 500px) {
  .div-questions {
    width: 500px;
    margin: auto;
  }
}
.div-form {
  background-color: #5368df;
  color: #fff;
  padding-top: 70px;
}
span {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 1em;
}
.input-form {
  display: block;
  margin: auto;
  outline: none;
  width: 70%;
  padding: 15px;
  border-radius: 6px;
  border: none;
}
.h3-form {
  font-size: 1.8em;
}
@media screen and (min-width: 700px) {
  .display-form {
    display: flex;
    width: 600px;
    margin: auto;
    padding-bottom: 10px;
  }
  .display-form input {
    width: 240px;
  }
  .display-form .button-u-contact {
    width: 240px;
  }
}
.li-form {
  padding: 1em;
  font-size: 0.6em;
  cursor: pointer;
  user-select: none;
}
.twitter-form {
  margin-left: 15px;
  width: 1em;
}
.facebook-form {
  width: 1em;
}
.logo-other {
  width: 100px;
}
.div-footer {
  background-color: rgba(47,53,79,0.9);
  color: #fff;
  padding-bottom: 5px;
}
.div-footer-form {
  padding-top: 20px;
  margin-bottom: -20px;
}
@media screen and (min-width: 700px) {
  .div-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .div-footer-form {
    padding: 0;
    margin: 0;
  }
  .div-footer .ul-form {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-footer .ul-form li:hover {
    color: var(--softRed);
  }
  .div-footer .div-footer-icons {
    position: absolute;
    right: 100px;
    cursor: pointer;
  }
}
